<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezmeal.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="13"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme">
    
        <activity android:name=".SwipeyTabsSampleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

 <!--  
  
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SwipeyTabsSampleActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        
        <activity
            android:name="com.ezmeal.activity.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ezmeal.activity.ShakeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ezmeal.activity.MyTasteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ezmeal.activity.QuitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ezmeal.activity.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ezmeal.activity.SearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ezmeal.activity.RankingActivity"
            android:label="@string/app_name" >
        </activity>
    

    <uses-permission android:name="android.permission.INTERNET"/>    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </application>
</manifest>